akshare>=1.18.97
baostock>=0.8.8
bcrypt>=4.0
duckdb>=1.0.0
exchange_calendars>=4.0.0
fastapi>=0.110.0
ipython>=8.5.0
matplotlib>=3.5.3
numpy>=1.23.3
pandas>=1.4.2
psycopg2-binary>=2.9.0
pypinyin>=0.55.0
pysocks>=1.7.1
requests>=2.22.0
uvicorn>=0.29.0